<nav
  class="text-beInc font-weight-bold navbar navbar-expand-lg navbar-light bg-color-beInc sticky-top"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#entrar" routerLink="/entrar">
          Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#sobre">Sobre nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#" routerLink="/como-funciona"
          >Como funciona?</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#contato" routerLink="/contato"
          >Contato</a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="text-center title-beInc font-weight-bold mb-5">
      A NOSSA EQUIPE
    </h5>
    <div class="row">
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/anita-falchi.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Anita Falchi</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Tech Lead</h4>
                  <p class="card-text">
                    Desenvolvedora Fullstack e inglês fluente, apaixonada por arte e tecnologia.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/anita-falchi"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/anita-falchi-%F0%9F%8F%B3%EF%B8%8F%E2%80%8D%F0%9F%8C%88-36592365/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:anita.falchi@gmail.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511962927481"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/Italomax.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Ítalo Max</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">
                    Scrum master
                  </h4>
                  <p class="card-text">
                    Professor de ciências e tecnologia, desenvolvedor full stack.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/Italomax"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/ítalomax/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto: italo.max.goes@outlook.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511910415070"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/fabiolasoufer.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Fabíola Souza</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Dev Fullstack</h4>
                  <p class="card-text">Desenvolvedora FullStack. Formada em Gestão Financeira, em transição de carreira para a tecnologia.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/fabiolasoufer"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/fabiolasoufer/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:fabiolasoufer@gmail.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511979909426"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/JeanLRC.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Jean Lucas</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">
                    Dev Fullstack
                  </h4>
                  <p class="card-text">Natural de Mauá, só de nascimento. Técnico em redes de computadores pela Etec de Sapopemba. Buscando entrar no mercado de trabalho.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/JeanLRC"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/jeanlrc/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:jeanlucas588@outlook.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511959738350"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/Hikaruyamanaka.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Marcel Hikaru Yamanaka</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Dev Fullstack</h4>
                  <p class="card-text">Desenvolvedor Fullstack, nascido no Japão e criado no Brasil, apaixonado pela tecnologia venho buscando conhecimento na área e busco transformar a minha vida e a vida de outras pessoas.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/Hikaruyamanaka"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/hikaruyamanaka/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:hikaru.yamanaka@outlook.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511948436466"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/RafaelCasotti.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Rafael Casotti</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">
                    Dev Fullstack
                  </h4>
                  <p class="card-text">Formado em Técnico em Informática e graduado em Administração, e hoje estou em transição de carreia para área de tecnologia.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/RafaelCasotti"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/rafaelsantoscasotti/
                                            "
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:rafa_scasotti@hotmail.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5535999086807"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://github.com/Samara-Alves.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Samara Alves</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Dev Fullstack</h4>
                  <p class="card-text">Tecnóloga em marketing formada pelo Senac e fazendo transição de carreira para desenvolvedora full stack Java.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/Samara-Alves"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/samara-alves-42363a215/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:samara_alves28@hotmail.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/5511961100661"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="image-flip">
          <div class="mainflip flip-0">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://i.imgur.com/rCwsgun.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sotiè Bustos Dele</h4>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Dev Fullstack</h4>
                  <p class="card-text">Sou de nacional do Benin, tendo francês fluente. <br> Desenvolvedor Full Stack, apaixonado pela tecnologia.</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://github.com/bustos00"
                      >
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://www.linkedin.com/in/sotie-ghislain-bustos-dele-80379a162/"
                      >
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="mailto:sotieghislain@hotmail.com"
                      >
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="https://wa.me/551196261066"
                      >
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
<!-- Team -->
