<h1 class="text-center">Sobre nossa equipe</h1>
 <div class="col-md-12">
        <img src="https://www.oswaldocruz.com/site/images/artigos/amor_ao_proximo_saude.jpg" class="img-fluid
        " alt="">
    </div>


<div class="container">
    <div class>
        <p class="justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempora odit blanditiis rerum
            consequuntur ex, repellendus eum amet dicta ab. Dolore quidem dolores aperiam dignissimos laborum id eveniet
            excepturi harum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis accusamus voluptate ullam obcaecati
            laborum consectetur consequatur aperiam adipisci atque fugiat natus, assumenda quas quaerat nam asperiores
            architecto dolorum, reiciendis quae.
        </p>
    </div>
   
</div>

<h2 class="text-center">Nosso propósito:</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/9KIedVj9Aoc" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
