<nav class="navbar navbar-expand-lg navbar-light bg-color-beInc">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto align-items-center">

        <li class="nav-item">
          <a class="nav-link text-beInc font-weight-bold" routerLink="/inicio">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-beInc font-weight-bold" href="#">Sessão</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-beInc font-weight-bold" href="#" routerLink="/hobby">Descubra um hobby</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-beInc font-weight-bold" href="#" data-toggle="modal" data-target="#exampleModal">Avalie seus pacientes</a>
        </li>

        <!-- Button trigger modal -->

        <li class="nav-item">
          <a class="nav-link text-beInc font-weight-bold" href="#">Contato</a>
        </li>

      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 text-beInc" type="search" placeholder="Pesquise aqui" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit">Pesquisar</button>
      </form>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a (click)="sair()" class="m-0 font-weight-bold text-light text-beInc">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="card-columns">
          <div class="card text-center" *ngFor="let item of listaUsuarios">
            <div class="card-body">
              <h5 class="card-title m-0">{{item.nome}}</h5>
              <small class="text-muted mb-3"> Tema: {{item.avaliacao}}</small>
            </div>
          </div>
        </div>


        <!-- <div class="mt-5 card-columns d-flex justify-content-center flex-wrap border-md">
              <ng-container *ngFor="let item of listaUsuarios">
                <div class="card text-center">
                  <div class="card-body">
                    <img
                      src="{{ item.foto }}"
                      class="rounded-circle"
                      onerror=" this.src = 'https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1016744034?k=20&m=1016744034&s=170667a&w=0&h=JlerB4H3IeLolDMQOYiAF9uLuZeW0bs4jH6NdrNPDtE='"
                      width="50px"
                      height="50px"
                    />
                    <h5 class="card-title m-0">{{ item.nome }}</h5>
                    <small class="text-muted">
                      Tema: {{ item.avaliacao }}</small></div></div>
                    </ng-container> -->




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
