
<!--Jumbotron-->
<div class="bg-yellow jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 title-beInc font-weight-bolder">Hobbies</h1>
      <p class="lead text-beInc">Veja abaixo algumas sugestões de novas atividades:</p>
    </div>
  </div>
  <!--/Jumbotron-->

 
<div>
    <h2 class="display-4 text-center title-beInc font-weight-bolder" id="Faça Parte">Escolha um e se inspire!</h2>
</div>
<br>

<div class="container-fluid">
  <div>
    <h3 class="text-beInc text-center">Yoga em libras: </h3>
  </div>
  <div class=" d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yWQ-lMizReU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>

<div>
  <h3 class="text-beInc text-center">30 ideias de hobbies: </h3>
</div>
<div class=" d-flex justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/H2DWqgRBIPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</div>
<br>
<br>

<div>
  <h3 class="text-beInc text-center">Movimente-se: </h3>
</div>
<div class=" d-flex justify-content-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/b4YOi8ZCGHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
</div>
<br>
<br>
</div>
