@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Text+Me+One&display=swap');

.title-beInc {
    font-family: 'Text Me One', sans-serif;
    font-size: 52px;
    color: #8AB872;
}

.bg-color-beInc {
    background-color: #b2d3a7;
}

.text-beInc {
    font-family: 'ABeeZee', sans-serif;    
}

.img-bg{
    overflow-x: hidden;
}

.home_buttons {     
    display: flex;     
    align-items: center;     
    gap: 1.25rem; }
