@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Text+Me+One&display=swap');

.title-beInc {
    font-family: 'Text Me One', sans-serif;
    font-size: 2.5em;
    color: #8AB872;
}

.bg-color-beInc {
    background-color: #8AB872;
}

.text-beInc {
    font-family: 'ABeeZee', sans-serif;
}

.img-bg{
    overflow-x: hidden;
}

