<nav
  class="text-beInc font-weight-bold navbar navbar-expand-lg navbar-light bg-color-beInc sticky-top"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#" routerLink="/entrar">
          Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#sobre">Sobre nós</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link text-dark" href="#como-funciona" routerLink="/como-funciona"
          >Como funciona?</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#contato" routerLink="/contato"
          >Contato</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-light my-2 my-sm-0"
        data-toggle="modal"
        data-target="#modalEntrar"
      >
        Entrar
      </button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row d-flex align-items-center" id="voluntario">
    <div class="col-md-6">
      <img
        class="imagem"
        width="500px"
        height="500px"
        src="../../assets/img/voluntario.png"
        alt="imagem-voluntario"
      />
    </div>

    <div class="col-md-6">
      <h2 class="text-left title-beInc font-weight-bold">
        Como ser um voluntário?
      </h2>

      <h5 class="d-flex text-left  align-items-center text-beInc">
        Para ser voluntário, preencha o cadastro. Faça avaliações dos
        participantes. Realize sessões periódicas. E com isso, evolua como
        profissional!
      </h5>

      <h2 class="text-left title-beInc font-weight-bold mt-5">
        Porque ser um voluntário?
      </h2>

      <ul class="text-beInc text-left fs-60">
        <li>Valorização pelo mercado.</li>
        <li>Ganho de experiência.</li>
        <li>Chance de entrar em contato com outras pessoas e culturas.</li>
        <li>Aperfeiçoamento acadêmico e profissional.</li>
        <li>Aprimoramento de habilidades.</li>
        <li>Desenvolvimento de ideias transformadoras.</li>
        <li>Transformação pessoal.</li>
        <li>Possibilidade de fazer networking.</li>
      </ul>
    </div>
  </div>

  <div class="row mt-5 d-flex align-items-center ml-5">
    <div class="col-md-6" id="usuario">
      <h2 class="text-left  title-beInc font-weight-bold">
        Como ser um usuário?
      </h2>

      <h5 class="d-flex text-left  text-beInc">
        Para ser usuário, preencha o cadastro. <br> Faça uma avaliação preliminar. <br>
        Realize sessões periódicas.
      </h5>

      <h2 class="text-left  title-beInc font-weight-bold mt-5">
        Como participo? E depois?
      </h2>

      <ul class="text-beInc fs-60">
        <li>Mantenha a continuidade de suas sessões</li>
        <li>Descubra novos hobbies</li>
        <li>Compartilhe experiências</li>
        <li>Aumente sua rede de apoio</li>
      </ul>
    </div>

    <div class="col-md-6">
      <img class="imagem " src="../../assets/img/paciente-relogio.png" alt="" />
    </div>

  </div>
</div>